/* Universal */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(47, 47, 47);
}

/* Body

    Movie List (Title, Movie Cards)

*/

/* Movie List */

.movie-list {
    margin: 20px 0px 0px 50px;
    margin-bottom: 50px;
}

    /* Title */

.title p {
    color: white;
    font-size: 25px;
}

    /* Card Movie */

.card-list {
    display: flex;
    gap: 25px;
}   

.card {
    margin-top: 20px;
    background-color: rgb(26, 26, 26);
    height: 350px;
    border-radius: 12px;
    position: relative;
}

.card img {
    border-radius: 12px;
    z-index: 2;
}

.card p {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: white;
    justify-content: center;
    width: 200px;
    position: absolute;
    bottom: 18px;
}

.card a {
    text-decoration: none;
}